.login-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 100%;
    margin: 80px auto 80px;
    border: 1px solid rgba(0, 0, 0, .12);
    padding: 40px;
    border-radius: 4px;
}

.login-title {
    font-size: 25px;
    margin: 0 0 20px;
    display: flex;
    align-items: center;
}

.login-image {
    width: 50px;
    margin: 0 5px 0 0;
    height: 50px;
    background-color: #e0e0e0fb;
}

.id.input-inner {
    border-radius: 4px 4px 0px 0px;
    border: 1px solid #dbdbdb;
}
.pwd.input-inner {
    border-radius: 0px 0px 4px 4px;
    border: 1px solid #dbdbdb;
    transform: translateY(-0.7px);
    margin: 0 0 20px;
}

.input-inner {
    width: 300px;
    height: 50px;
    padding: 0 1.2em;
    font-size: 18px;
}

.input-inner:hover {
    background-color: #fafafa;
}

.input-error {
    color: red;
    padding: 0 0 0.6em;
}

.login-checkarea > input {
    margin: 0 0.5em 0 0;
}

.input-button {
    width: 300px;
    height: 52px;
    margin: 0 0 20px;
    padding: 0 1.2em;
    font-size: 18px;
}

.login-super {
    text-align: center;
    font-size: 16px;
}

.login-atag:last-child {
    margin-left: 20px;
}