/* 로그인 공통 CSS */
.member-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 100%;
    margin: 80px auto 80px;
    border: 1px solid rgba(0, 0, 0, .12);
    padding: 40px;
    border-radius: 4px;
}

/* 로그인 페이지 CSS */
.member-main a:hover {
    text-decoration: none;
}

.login-title {
    font-size: 25px;
    margin: 0 0 20px;
    display: flex;
    align-items: center;
}

.login-image {
    width: 75px;
    margin: 0 5px 0 0;
    height: 50px;
}

.img {
    width: 100%;
    height: 100%;
}

.id.input-inner {
    border-radius: 4px 4px 0px 0px;
    border: 1px solid #dbdbdb;
}

.pwd.input-inner {
    border-radius: 0px 0px 4px 4px;
    border: 1px solid #dbdbdb;
    transform: translateY(-0.7px);
    margin: 0 0 20px;
}

.input-inner {
    width: 300px;
    height: 50px;
    padding: 0 1.2em;
    font-size: 18px;
}

.input-inner:hover {
    background-color: #fafafa;
}

.input-error {
    color: red;
    padding: 0 0 0.6em;
}

.login-checkarea > input {
    margin: 0 0.5em 0 0;
}

.input-button {
    width: 300px;
    height: 52px;
    margin: 0 0 20px;
    padding: 0 1.2em;
    font-size: 18px;
}

.login-super {
    text-align: center;
    font-size: 16px;
}

.login-atag:last-child {
    margin-left: 20px;
}

/* 비밀번호 찾기 CSS */
.reset-area {
    border: 1px solid rgb(219, 219, 219);
    padding: 6px 16px;
    margin: 12px 0px 28px;
}

#resetInput {
    border: none;
}

#resetInput:hover {
    background-color: #fafafa;
}

.input-email {
    width: 250px;
    height: 25px;
    font-size: 15px;
}

.input-confirm {
    white-space: pre;
    height: 25px;
    font-size: 14px;
    line-height: 17px;
    padding: 2px 2px;
    box-sizing: border-box;
    background-color: #a3e4f8;
    border-color: #a3e4f8;
    color: #e5f9ff;
}

/* 회원가입 CSS */
.join-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.join-title {
    font-size: 25px;
    padding: 2em 0 2em 0;
}

.sub-title {
    display: block;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: rgb(47, 52, 56);
    letter-spacing: -0.3px;
    word-break: keep-all;
}

.join-checkarea {
    display: flex;
    margin: 0 0 1.2em;
    width: 100%;
}

.join-checkarea > input {
    margin: 0 0.5em 0 0;
}

.input-button {
    width: 308px;
    height: 32px;
    margin: 0 0 1.2em;
    padding: 0 1.2em;
}

.join-super {
    text-align: center;
}

.join-input {
    width: 308px;
    height: 40px;
    margin: 12px 0px 28px;
    font-size: 14px;
}

.join-input.first {
    margin: 12px 0px 10px;
}

.terms-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 308px;
    height: 100%;
    margin: 12px auto 28px;
    border: 1px solid rgba(0, 0, 0, .12);
    padding: 40px;
    border-radius: 4px;
}

/* 설정 CSS */
.setting-sidebar {
    position: fixed;
    top:  71px;
    left: 0;
    bottom: 0;
    z-index: 30;
    overflow: hidden;
    display: column;
    width: 251px;
    padding: 20px 0 0;
    background-color: #fff;
    border-right: 1px solid #E6E6E6;
    border-top: 1px solid #E6E6E6;
    box-sizing: border-box;
}

.setting-main {
    margin: 0 0 0 251px;
}

.tab-menu {
    cursor: pointer;
    font-size: 16px;
}

.tab-menu > li > a {
    text-decoration: none;
}

.wrapper {
    width: 50px;
    height: 50px;
    text-align: center;
    margin: 50px auto;
}